<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cn.helloworld">

    <application
        android:name=".AdminApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 登录页（启动页） -->
        <activity
            android:name="com.example.cn.helloworld.ui.auth.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:name="com.example.cn.helloworld.ui.main.MainActivity"
            android:label="@string/title_main" />

        <!-- 应援任务详情 -->
        <activity
            android:name="com.example.cn.helloworld.ui.main.SupportTaskDetailActivity"
            android:parentActivityName="com.example.cn.helloworld.ui.main.MainActivity" />

        <!-- 注册 -->
        <activity
            android:name="com.example.cn.helloworld.RegisterActivity"
            android:label="@string/title_register" />

        <!-- 注册确认 -->
        <activity
            android:name="com.example.cn.helloworld.ConfirmActivity"
            android:label="@string/title_confirm"
            android:parentActivityName="com.example.cn.helloworld.RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.RegisterActivity" />
        </activity>

        <!-- 用户列表 -->
        <activity
            android:name="com.example.cn.helloworld.ListUserActivity"
            android:label="@string/title_user_list" />

        <!-- 音乐播放 -->
        <activity android:name="com.example.cn.helloworld.MusicActivity" />

        <!-- 商品详情 -->
        <activity
            android:name="com.example.cn.helloworld.ui.product.ProductDetailActivity"
            android:label="@string/default_product_name" />

        <!-- 订单详情 -->
        <activity
            android:name="com.example.cn.helloworld.ui.order.OrderDetailActivity"
            android:label="@string/title_order_detail" />
        <activity
            android:name="com.example.cn.helloworld.ui.order.CheckoutActivity"
            android:label="@string/checkout_title"
            android:parentActivityName="com.example.cn.helloworld.ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.ui.main.MainActivity" />
        </activity>


        <!-- 管理员控制台 -->
        <activity
            android:name="com.example.cn.helloworld.ui.admin.AdminDashboardActivity"
            android:label="@string/title_admin_dashboard" />

        <activity
            android:name="com.example.cn.helloworld.ui.admin.ProductManagementActivity"
            android:label="@string/title_admin_manage_products" />

        <activity
            android:name="com.example.cn.helloworld.ui.admin.PlaylistManagementActivity"
            android:label="@string/title_admin_manage_playlists" />

        <activity
            android:name="com.example.cn.helloworld.ui.admin.BannerManagementActivity"
            android:label="@string/title_admin_manage_banners"
            android:parentActivityName="com.example.cn.helloworld.ui.admin.AdminDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.ui.admin.AdminDashboardActivity" />
        </activity>

        <activity
            android:name="com.example.cn.helloworld.ui.admin.PlaylistEditorActivity"
            android:label="@string/title_admin_manage_playlists" />

        <activity
            android:name="com.example.cn.helloworld.ui.admin.SupportTaskApprovalActivity"
            android:label="@string/title_admin_support_tasks" />

        <activity
            android:name="com.example.cn.helloworld.ui.admin.SupportTaskManagementActivity"
            android:label="@string/title_admin_manage_support_tasks" />

        <activity
            android:name="com.example.cn.helloworld.ui.admin.AdminOrderListActivity"
            android:label="@string/title_admin_order_list"
            android:parentActivityName="com.example.cn.helloworld.ui.admin.AdminDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.ui.admin.AdminDashboardActivity" />
        </activity>

        <!-- ⭐ 正确保留版本：用户中心 -->
        <activity
            android:name="com.example.cn.helloworld.ui.user.UserProfileActivity"
            android:label="@string/title_user_profile"
            android:parentActivityName="com.example.cn.helloworld.ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.ui.main.MainActivity" />
        </activity>

        <activity
            android:name="com.example.cn.helloworld.ui.user.AddressManagementActivity"
            android:label="@string/title_address_management"
            android:parentActivityName="com.example.cn.helloworld.ui.user.UserProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.ui.user.UserProfileActivity" />
        </activity>

        <!-- 应援商城（商品详情） -->
        <activity
            android:name="com.example.cn.helloworld.ui.catalog.ProductDetailActivity"
            android:label="@string/app_name" />

        <activity
            android:name="com.example.cn.helloworld.ui.product.ReviewWallActivity"
            android:label="@string/title_review_wall"
            android:parentActivityName="com.example.cn.helloworld.ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.ui.main.MainActivity" />
        </activity>

        <activity
            android:name="com.example.cn.helloworld.ui.catalog.ProductListActivity"
            android:label="@string/title_product_list"
            android:parentActivityName="com.example.cn.helloworld.ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.ui.main.MainActivity" />
        </activity>

        <!-- 歌单详情 -->
        <activity
            android:name="com.example.cn.helloworld.ui.playlist.PlaylistDetailActivity"
            android:label="@string/title_playlist_detail"
            android:parentActivityName="com.example.cn.helloworld.ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.ui.main.MainActivity" />
        </activity>

        <!-- 全部歌单 -->
        <activity
            android:name="com.example.cn.helloworld.ui.playlist.PlaylistOverviewActivity"
            android:label="@string/title_playlist_overview"
            android:parentActivityName="com.example.cn.helloworld.ui.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.cn.helloworld.ui.main.MainActivity" />
        </activity>

        <!-- 音乐后台服务 -->
        <service
            android:name="com.example.cn.helloworld.MusicService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
