<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cn.helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/title_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ConfirmActivity"
            android:label="@string/title_confirm"
            android:parentActivityName=".RegisterActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegisterActivity" />
        </activity>

        <activity
            android:name=".ListUserActivity"
            android:label="@string/title_user_list" />

        <activity android:name=".MusicActivity" />
        <activity
            android:name="com.example.cn.helloworld.ui.order.OrderDetailActivity"
            android:label="@string/title_order_detail" />
        <activity
            android:name="com.example.cn.helloworld.ui.product.ProductDetailActivity"
            android:label="@string/default_product_name" />
        <activity
            android:name="com.example.cn.helloworld.ui.admin.AdminDashboardActivity"
            android:label="@string/title_admin_dashboard" />
        <service
            android:name=".MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.catalog.ProductDetailActivity"
            android:label="@string/app_name" />
    </application>

</manifest>
